
@{
    ViewData["Title"] = "Collaboration";
}

<section class="page-section" id="collaboration">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Product</h1>
            <h3 class="section-subheading text-muted">Product of our Company</h3>
        </div>
        <div class="row gx-4 gx-lg-5">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="~/pictures/rh-logo.png"></div>
                    <div class="text">RH Furniture</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="~/pictures/ikea-logo.png"></div>
                    <div class="text">Ikea Furniture</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="~/pictures/olympic-logo.png"></div>
                    <div class="text">Olympic Furniture</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="mt-5">
                    <div class="collaboration-item mb-2"><img class="img-fluid" src="~/pictures/hypermart-logo.png"></div>
                    <div class="text">Hypermart</div>
                </div>
            </div>
        </div>
    </div>
</section>

