
@{
    ViewData["Title"] = "Company";
}
<section class="page-section" id="company">
    <div class="quote">
        <img src="~/pictures/poster-4.jpg" alt="poster4" style="width:100%">
        <div class="text">Helping millions home beautiful</div>
    </div>
    <div class="container mt-5">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Company</h1>
            <h3 class="section-subheading text-muted">About Our Company</h3>
        </div>
    </div>
    <div class="container about">
        <div class="text">
             <p><strong>The Furnist</strong> began in Salatiga, Central Java, Indonesia, in 1965. At the time we were a small, family run sawmill. We later moved into producing a few furniture items from the timbers we milled and now, nearly a half century later, the Mulyo story is still being written.
                <br /> <br />
                From these humble beginnings we have grown into a world-class furniture manufacturing company with a global reach. We now produce a vast range of products, offer direct, mixed containers and have a shipping capacity of 60 containers per month. We still operate our own sawmill, as well as our own computer-controlled kilns, wood treatment equipment, and manufacturing facilities which employ the finest imported machinery, latest technology and skilled craftsmen for the finer hand-crafted details for which Indonesia has become renowned.
                <br /> <br />
                As home styles have evolved over the years, The Furnist has evolved too, keeping step with the fashion trends of the day. This dynamic and flexible spirit is at the heart of everything we do and has been a key factor in the continued growth of our business. What has remained constant over the years is an unyielding passion for quality - exceptional design, impeccable craftsmanship and enduring value. Today, our administrative team, including senior members from Australia and the US, ensure that the process from initial order right through to delivery of your goods will be managed in a timely and professional manner. With more than 22,000 square meters of enclosed production area and over 600 employees, the company has become well known for its quality, value-priced home furnishings, produced by highly skilled employees and distributed by furniture Retailers, Wholesalers and Project Developers throughout the world.
                <br /> <br />
                So now our story can help you to tell yours, with quality home furnishings and accessories, unparalleled service and competitive pricing.</p>
        </div>
    </div>
</section>
<div class="justify-content-xl-center">
    <article class="section4">
            
    </article>
</div>

