@{
    ViewData["Title"] = "Home Page";
}

<div class="home">
    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="5000">
                <img src="~/pictures/poster-1.jpg" class="d-block w-100" alt="poster1">
                <div class="deskripsi-poster">
                    <div class="judul">Good <span>Living</span> Better <span>Live</span></div>
                    <div class="teks">We will help you to make an elegant and luxurious interior designed by professional interior designer</div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="~/pictures/poster-2.jpg" class="d-block w-100" alt="poster2">
                <div class="deskripsi-poster">
                    <div class="judul">Good <span>Living</span> Better <span>Live</span></div>
                    <div class="teks">We will help you to make an elegant and luxurious interior designed by professional interior designer</div>
                </div>
            </div>
            <div class="carousel-item" data-bs-interval="5000">
                <img src="~/pictures/poster-3.jpg" class="d-block w-100" alt="poster3">
                <div class="deskripsi-poster">
                    <div class="judul">Good <span>Living</span> Better <span>Live</span></div>
                    <div class="teks">We will help you to make an elegant and luxurious interior designed by professional interior designer</div>
                </div>
            </div>
        </div>
    </div>
</div>
