
@{
    ViewData["Title"] = "Product";
}

<section class="page-section" id="product">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Product</h1>
            <h3 class="section-subheading text-muted">Product of our Company</h3>
        </div>
        <div class="row">
            <!-- item 1-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/lamp-1.png" alt="..." />
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="product-caption">
                        <div class="product-caption-heading">Aesthetic Lamp</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.200.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 2-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/lamp-2.png" alt="..." />
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="product-caption">
                        <div class="product-caption-heading">Table Lamp</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.200.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 3-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/lamp-3.png" alt="..." />
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="product-caption">
                        <div class="product-caption-heading">Moon-Hand Lamp</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.200.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <!--item 4-->
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/chair-1.png" alt="..." />
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="product-caption">
                        <div class="product-caption-heading">Stackable Chair</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.200.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/chair-2.png" alt="..." />
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="product-caption">
                        <div class="product-caption-heading">Vintage Chair</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.200.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/chair-3.png" alt="..." />
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="product-caption">
                        <div class="product-caption-heading">Stylish Chair</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.200.000,-</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="product-item">
                    <img class="img-fluid" src="~/pictures/chair-1.png" alt="..." />
                    <i class="fa-solid fa-cart-shopping"></i>
                    <div class="product-caption">
                        <div class="product-caption-heading">Stackable Lamp</div>
                        <div class="product-caption-subheading text-muted">
                            <p>Rp.200.000,-</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

