@{
    ViewData["Title"] = "Profile";
}

<section class="page-section" id="profile">
    <div class="container">
        <div class="text-center">
            <h1 class="section-heading text-uppercase">Profile</h1>
            <h3 class="section-subheading text-muted">Profile of Our Company</h3>
        </div>
        <div class="row mt-5">
            <div class="ket col-lg-3 col-md-6">
                <div class="atas">
                    <h1>1.</h1>
                    <h5>Professional Designer</h5>
                    <p>We provide georgeous furniture designed by georgeous designer</p>
                </div>
                <div class="bawah">
                    <h1>3.</h1>
                    <h5>Lifetime Service Guarantee</h5>
                    <p>Grab your furniture and get a lifetime service guarantee</p>
                </div>
            </div>
            <div class="ket col-lg-3 col-md-6">
                <div class="atas">
                    <h1>2.</h1>
                    <h5>High Quality Material</h5>
                    <p>Provide great furniture, high quality is a must for us</p>
                </div>
                <div class="bawah">
                    <h1>4.</h1>
                    <h5>Cashback</h5>
                    <p>Get 2% cashback for the first purchase</p>
                </div>
            </div>
            <div class="image col-lg-6 col-md-12">
                <img src="~/pictures/foto.png" alt="picture">
            </div>
        </div>
    </div>
</section>